.date-box {
    background: rgb(224, 224, 224);
    border: solid rgb(200, 200, 200) 1px;
    border-radius: 3px;
    width: 15px;
    height: 15px;
}

.date-box.not-this-year {
    opacity: 50%;
}

.date-box.selected {
    border: solid #288b27 2px;
}

.date-box.today {
    outline: solid #237921 1px;
}
