.bg-lt-primary {
    background: rgb(169, 192, 255);
    color: black;
}

.bg-lt-secondary {
    background: rgb(219, 219, 219);
    color: black;
}

.bg-lt-warning {
    background: rgb(255, 217, 147);
    color: black;
}

.bg-lt-danger {
    background: rgb(255, 169, 169);
    color: black;
}

.bg-lt-info {
    background: rgb(164, 229, 255);
    color: black;
}

.bg-lt-success {
    background: rgb(136, 221, 157);
    color: black;
}
